@charset "UTF-8";
body{
    background-color: #665f81;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #333;
}
h2{
    color: #333;
}   
p{
    text-align: justify;
}